<div class="yc-container" style="margin: 0 auto;">
  <div class="yacht-card" style="margin: 10px;">
    <div class="yc-image-holder">
      <%= link_to yacht_path(yacht.id) do %>
        <% if yacht.photos[0] %>
          <div class="yc-image" style='background-image: url("<%= cl_image_path yacht.photos[0].key%>");'></div>
        <% else %>
          <div class="yc-image" style='background-image: none'></div>
        <% end %>
      <% end %>
     <div class="yc-yacht-name"><%= yacht.title %></div>
    </div>
    <div class="yc-info">
      <div class="yc-details p-1">
        <div class="location-guests">
          <div class="yc-location" style="font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><i class="fas fa-map-pin icon text-center"></i> <%= yacht.address %></div>
          <div class="yc-guests" style="font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><i class="fas fa-users icon text-center"></i> <%= yacht.number_of_guests %></div>
        </div>
        <div class="rating-price">
          <div class="yc-price" style="font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">€<%= yacht.weekly_price %>p/w</div>
          <div class="yc-rating" style="font-size: 14px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%= yacht.average_rating.nil? ? 'No ratings' : '⭑' * yacht.average_rating %></div>
        </div>
      </div>
    </div>
  </div>
</div>
