<div class="yacht-card" style="margin: <%= margin %>px;">
  <div class="yc-image-holder">
   <div class="yc-image" style='background-image: url("<%= cl_image_path yacht.photos[0].key%>");'></div>
   <div class="yc-yacht-name"><%= yacht.title %></div>
  </div>
  <div class="yc-info">
    <div class="yc-rating-price">
      <div class="yc-rating"><%= '⭐️' * yacht.average_rating if yacht.average_rating %></div>
      <div class="yc-price">€<%= yacht.weekly_price %></div>
    </div>
    <div class="yc-btn-holder">
      <%= link_to 'Enquire', yacht_path(yacht.id), class: 'yc-btn btn btn-dark' %>
    </div>
  </div>
</div>
