<h1 class="text-center"><%= @yacht.title %></h1>

<div class="container">
  <ul class="show-list">
    <li class="list-group-item col-6 mt-2"><%= @yacht.description %></li>
    <li class="list-group-item col-6 mt-2"><%= @yacht.length %></li>
    <li class="list-group-item col-6 mt-2"><%= @yacht.number_of_guests %></li>
    <li class="list-group-item col-6 mt-2"><%= @yacht.number_of_crew %></li>
    <li class="list-group-item col-6 mt-2"><%= @yacht.number_of_cabins %></li>
    <li class="list-group-item col-6 mt-2"><%= @yacht.beam %></li>
    <li class="list-group-item col-6 mt-2"><%= @yacht.build %></li>
    <li class="list-group-item col-6 mt-2"><%= @yacht.build %></li>
    <li class="list-group-item col-6 mt-2"><%= @yacht.weekly_price %></li>
    <li class="list-group-item col-6 mt-2"><%= @yacht.average_rating %></li>
  </ul>

  <div class="booking-form">

  </div>
</div>
