<h1><%= @yacht.title %></h1>
<ul>
  <li><%= @yacht.description %></li>
  <li><%= @yacht.length %></li>
  <li><%= @yacht.number_of_guests %></li>
  <li><%= @yacht.number_of_crew %></li>
  <li><%= @yacht.number_of_cabins %></li>
  <li><%= @yacht.beam %></li>
  <li><%= @yacht.build %></li>
  <li><%= @yacht.build %></li>
  <li><%= @yacht.weekly_price %></li>
  <li><%= @yacht.average_rating %></li>
</ul>
