<div class="images">
  <%= render 'images' %>
</div>

<h1 class="text-center yacht-title"><%= @yacht.title %></h1>

<div class="container">
  <div class="d-flex justify-space-between">
    <div class="list-box">
      <div class="card">
        <h4 class="text-center mt-2">Overview</h4>
        <div class="description">
          <p><%= @yacht.description.capitalize %></p>
          <hr>
        </div>
        <table class="table details-table">
          <h6 class="text-center">Yacht Details</h6>
          <tbody>
            <tr>
              <td>Price:</td>
              <td>€<%= @yacht.weekly_price %>p/w</td>
            </tr>
            <tr>
              <td>Length:</td>
              <td><%= @yacht.length %>m</td>
            </tr>
            <tr>
              <td>Beam: </td>
              <td><%= @yacht.beam %>m</td>
            </tr>
            <tr>
              <td>Number of Guests:</td>
              <td><%= @yacht.number_of_guests %></td>
            </tr>
            <tr>
              <td>Number of Cabins:</td>
              <td><%= @yacht.number_of_cabins %></td>
            </tr>
            <tr>
              <td>Number of Crew:</td>
              <td><%= @yacht.number_of_crew %></td>
            </tr>
            <tr>
              <td>Cruising Speed:</td>
              <td><%= @yacht.cruising_speed %> knots</td>
            </tr>
            <tr>
              <td>Build:</td>
              <td><%= @yacht.build.capitalize %></td>
            </tr>
            <tr>
              <td>Year:</td>
              <td><%= @yacht.year %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="booking-form">
      <div class="card booking-card">
        <% if @yacht.user == current_user %>
          <h4 class="text-center mt-2">Can't book your own yacht!</h4>
        <% else %>
          <h4 class="text-center mt-2">New Booking</h4>
          <%= simple_form_for [ @yacht, @booking ] do |f| %>
          <div class="form-inputs">
            <div class="form-group">
              <%= f.label :start_date %>
              <%= f.date_field :start_date, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :end_date %>
              <%= f.date_field :end_date, class: 'form-control' %>
            </div>
            <%= f.submit "Enquire", class: 'btn btn-theme' %>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
